doctype html
html(lang='uk')
    head
        title: block title
            | ⋅ Головна
        block meta
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
        block fonts
            link(rel='preconnect' href='https://fonts.gstatic.com')
        block styles
            link(href='css/main.css' rel='stylesheet')
    body
        block content
        footer: block footer
        block scripts
